*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.box {
    padding : 20px;
    background: orange;
    color: black;
}
.art {
    border: 5px solid pink;
    width : 100%;
}
.image {
    width : 100%;
    height : 100%;
    vertical-align : top;
}
.comment{
    padding : 20px;
    text-align : center;
}
.ad {
    background: orange;
    width: 728px;
    height:90px;
}
@media screen and (max-width: 1500px) {
    .box {

    }
}
@media screen and (max-width: 601px) {
    .container {

    }
    .footerBox1 {
       
    }
    .footerBox2 {
       
    }
}